<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drop.wzjtestapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.peurmission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <!-- 阿里移动推送相关权限 -->
    <!-- Android 6.0版本可去除，用于选举信息（通道复用）的同步 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 进行网络访问和网络状态监控相关的权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.peurmission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 用于读取手机硬件信息等，用于机型过滤 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 选举使用，当应用有删除或者更新时需要重新选举，复用推送通道 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 补偿通道GCM使用，不使用可去除 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 允许监听启动完成事件 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许访问震动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 接收IM消息的自定义权限 -->
    <permission
        android:name="com.jlcxtx.youliangyueche.driver.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <!--//使用接收IM消息权限-->
    <uses-permission android:name="com.lovcreate.ordercar2.permission.RECEIVE_MSG" />
    <!--//接收来电的自定义权限-->
    <permission
        android:name="com.jlcxtx.youliangyueche.driver.permission.INCOMING_CALL"
        android:protectionLevel="signature" />
    <!--//使用接收来电权限-->
    <uses-permission android:name="com.lovcreate.ordercar2.permission.INCOMING_CALL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--//允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--//允许程序录制音频-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--//允许应用程序修改全局声音设置的权限-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--//允许请求访问使用照相设备(如果使用视频通话则必选配置)-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--//以下列出几种可选配置，开发者可根据自己的需求进行选择配置-->
    <!--//如需使用蓝牙设备，可配置以下权限-->
    <!--//允许程序连接到已配对的蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--//允许程序发现和配对蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--//允许程序读取用户联系人数据-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--7.0文件兼容-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.drop.wzjtestapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".views.calendar.DatePickerActivity" />
        <activity android:name=".views.other.WaveViewActivity" />
        <activity android:name=".guide_page.GuidePageActivity" />
        <activity android:name=".mediaplayer.GifOrMp4PlayerActivity" />
        <activity android:name=".temp.OneDimensionMap">
        </activity>
        <activity android:name=".update.UpdateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".update.UpdateIntentService"
            android:exported="false"/>
        <activity android:name=".temp.OneDimensionMap_Static">

        </activity>
        <service android:name="com.amap.api.location.APSService"></service>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="59e7d8129f71f0085f3da066a02f80da" />
    </application>

</manifest>